body{
    font-family: arial;
}

.grid-container
{
    display:grid;
    grid-template-columns: 200px 150px 100px;
    column-gap:10px;
    row-gap:10px;
    margin-top:10px;
    align-items:center;
}
#todo-input ,#date-input {
    font-size:15px;
    padding:10px 5px;
}
.delete-button
{
background-color: rgb(192, 11, 11);
color:white;
border:none;
border-radius:20px;
padding:12px 0px;

}
.todo-button
{
    background-color:rgb(12, 222, 12);
    color:white;
    border:none;
    border-radius:20px;
    padding:12px 0px;
}